{% extends "base.jinja" %}

{% block title %}Home{% endblock %}
{% block content %}
<p>To be entirely honest, I made this site without really knowing what I would put here. So I guess this site is still under construction. :P </p>
{% endblock content %}