{% extends "base.jinja" %}
{% block title %}Minecraft{% endblock %}
{% block content %}
<p>I run a small minecraft server with some friends. I'll have for that posted here. I plan to have a way of checking the server's public api info here at some point. The code I'll use to do that is <a href="https://github.com/firnen0/Minecraft-research/blob/master/public-api/public-api.md">here.</a> Tbh I think I need to update the readme for that repo lol</p>
{% endblock %}