{% extends "base.jinja" %}
{% block title %}Style{% endblock %}
{% block content %}
 <p>A few weeks ago (or months at this point I guess) I was inspired by <a href="http://bettermotherfuckingwebsite.com">bettermotherfuckingwebsite</a> to rewrite my website so that it's lighter-weight and easier to read on more devices. I decided to use a nice dark that is easy to read at all times of day rather than having your fucking eyes burned out like you've looked at a fucking supernova from a few kilometers away.</p>
 <p>Why blues? Well My scales are blue that's why. :P</p>
{% endblock %}